@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    box-sizing: border-box;
    margin: 0px auto;
    padding: 0px;
    font-family: "Bebas Neue", sans-serif;
}

body{
    background-color: #cfcfcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options{
    display: flex;
    gap: 100px;
    margin-top: 20px;
}

.options *{
    font-size: 6rem;
    cursor: pointer;
    transition: 0.2s;
    user-select: none;
    opacity: 0.81;
}

.options *:hover{
    scale: 1.1;
    opacity: 1;
}

.options *:active{
    scale: 1.05;
}

.deactive{
    opacity: 0.4;
    cursor: auto;
}

.deactive:hover{
    scale: 1;
    opacity: 0.4;
}

.deactive:active{
    scale: 1;
}

.button-container{
    margin-top: 30px;
}

.reset-button{
    font-size: 2.5rem;
    font-weight: 900;
    padding: 0.1em 0.6em;
    background-color: #a7a7a7;
    border: 2px solid  #a7a7a7;
    border-radius: 10px;
    box-shadow: 0px 3px #000;
    cursor: pointer;
    transition: 0.2s;
}

.reset-button:hover{
    background-color: #F6C958;
    box-shadow: none;
    transform: translateY(3px);
    border: 2px solid  #000;
}

.log{
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.log *{
    user-select: none;
    min-width: 200px;
    margin: 0px;
}

.log h1{
    text-align: center;
    font-size: 3rem;
}

.log p{
    text-align: center;
    font-size: 4rem;
    margin-top: 20px;
}

.result-log  p{
    font-size: 4.4rem;
}